<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="vendor/prism.css" />

    <script src="vendor/font-awesome/fontawesome-free-5.12.1-web/js/all.js" data-auto-add-css="false"></script>
    <link  href="vendor/font-awesome/fontawesome-free-5.12.1-web/css/svg-with-js.css" rel="stylesheet" />

    <title><%= htmlWebpackPlugin.options.title %></title>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>


    <style>
      body { margin:0; }
      #logo { bottom: 1em; position: fixed; /* z-index: 999; */ /* top: 0; */ left: 1em; width: 7em; opacity: 0.3; transition: opacity 0.2s; }





      .btn {
          background-color: #1a699e;
          border: 1px solid transparent;
          border-color: #1a699e;
          border-radius: 2px;
          box-sizing: border-box;
          color: white;
          cursor: default;
          font-family: inherit;
          font-size: 12px;
          font-weight: bold;
          height: 24px;
          min-width: 96px;
          padding: 3px 24px;
          user-select: none;
          white-space: nowrap;
      }

      .btn.danger {
        border-color: #c41723;
        background-color: #c41723;
      }

      .btn.safe {
        background-color: rgb(0, 177, 128);
        border-color: rgb(0, 177, 128);
      }
    </style>
		<div id="logo">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 774.9 340.7"><linearGradient id="letter_1" gradientUnits="userSpaceOnUse" x1="-51.63" y1="159.386" x2="937.851" y2="108.205" gradientTransform="matrix(1 0 0 -1 0 342)"><stop offset="0" stop-color="#2cb0f4"></stop><stop offset="1" stop-color="#5769ff"></stop></linearGradient><path d="M261.6 183.1l-10.5 3.5c-1.4-4.1-4.4-6.2-8.9-6.2-4.8 0-7.3 1.6-7.3 4.7 0 1.2.5 2.4 1.4 3.2.9.9 3 1.6 6.1 2.3 4 .7 7.9 1.8 11.7 3.3 2.5 1.2 4.7 3 6.3 5.3 1.7 2.4 2.6 5.2 2.5 8.2 0 4.7-1.9 9.1-5.4 12.3-3.6 3.4-9 5.2-16.2 5.2-4.8.1-9.6-1.1-13.7-3.7-3.8-2.5-6.5-6.4-7.4-10.8l11.3-2.6c1.3 4.9 4.8 7.3 10.6 7.3 2.8 0 4.9-.5 6.3-1.6 1.3-.9 2-2.3 2.1-3.9 0-1.4-.7-2.8-1.9-3.6-1.3-.8-3.7-1.6-7.2-2.4-6.6-1.4-11.4-3.3-14.2-5.6s-4.3-5.9-4.3-10.5c-.1-4.5 1.8-8.8 5.1-11.8 3.4-3.2 8-4.8 13.8-4.8 10.2 0 16.8 4.1 19.8 12.2z" fill="url(#letter_1)"></path><linearGradient id="letter_2" gradientUnits="userSpaceOnUse" x1="-51.478" y1="162.432" x2="938.013" y2="111.252" gradientTransform="matrix(1 0 0 -1 0 342)"><stop offset="0" stop-color="#2cb0f4"></stop><stop offset="1" stop-color="#5769ff"></stop></linearGradient><path d="M312.3 171.6V182h-13v41.8h-12.4V182h-13v-10.3l38.4-.1z" fill="url(#letter_2)"></path><linearGradient id="letter_3" gradientUnits="userSpaceOnUse" x1="-51.388" y1="164.096" x2="938.093" y2="112.915" gradientTransform="matrix(1 0 0 -1 0 342)"><stop offset="0" stop-color="#2cb0f4"></stop><stop offset="1" stop-color="#5769ff"></stop></linearGradient><path d="M347.3 171.6l16.3 52.2h-13.2l-3.2-10.7h-16.9l-3.3 10.7h-10.7l16.6-52.2h14.4zm-14 31.8h11.1l-5.5-18.3-5.6 18.3z" fill="url(#letter_3)"></path><linearGradient id="letter_4" gradientUnits="userSpaceOnUse" x1="-51.239" y1="167.058" x2="938.253" y2="115.877" gradientTransform="matrix(1 0 0 -1 0 342)"><stop offset="0" stop-color="#2cb0f4"></stop><stop offset="1" stop-color="#5769ff"></stop></linearGradient><path d="M389.5 203.2v20.6h-12.3v-52.2h23c3.5-.1 6.9.4 10.2 1.5 2.7 1.1 4.9 2.9 6.4 5.4 1.7 2.6 2.6 5.7 2.5 8.8 0 6.3-3 10.8-9.1 13.5l9.7 23.1h-13.6l-8.1-20.6h-8.7zm0-22.2v13.3h7.5c1.8.1 3.6-.1 5.3-.5 1.2-.4 2.3-1.2 3-2.3.9-1.2 1.3-2.6 1.3-4.1 0-1.4-.4-2.8-1.3-3.9-.7-1-1.7-1.7-2.8-2.1-1.9-.3-3.8-.5-5.7-.4h-7.3z" fill="url(#letter_4)"></path><linearGradient id="letter_5" gradientUnits="userSpaceOnUse" x1="-51.072" y1="170.267" x2="938.42" y2="119.087" gradientTransform="matrix(1 0 0 -1 0 342)"><stop offset="0" stop-color="#2cb0f4"></stop><stop offset="1" stop-color="#5769ff"></stop></linearGradient><path d="M472.5 183.1l-10.4 3.5c-1.4-4.1-4.4-6.2-8.9-6.2-4.9 0-7.3 1.6-7.3 4.7 0 1.2.5 2.4 1.4 3.2.9.9 2.9 1.6 6.1 2.3 4 .7 7.9 1.8 11.7 3.3 2.5 1.2 4.7 3 6.3 5.3 1.7 2.4 2.6 5.2 2.5 8.2 0 4.7-2 9.2-5.4 12.3-3.6 3.4-9 5.2-16.2 5.2-4.8.1-9.6-1.1-13.7-3.7-3.8-2.5-6.5-6.4-7.5-10.8l11.3-2.6c1.3 4.9 4.8 7.3 10.6 7.3 2.8 0 4.9-.5 6.3-1.6 1.3-.9 2-2.3 2.1-3.9.1-1.4-.7-2.8-1.9-3.6-1.2-.8-3.7-1.6-7.2-2.4-6.7-1.4-11.4-3.3-14.2-5.6s-4.2-5.9-4.2-10.5c-.1-4.5 1.8-8.8 5.1-11.8 3.4-3.2 8-4.8 13.8-4.8 10.2 0 16.8 4.1 19.7 12.2z" fill="url(#letter_5)"></path><linearGradient id="letter_6" gradientUnits="userSpaceOnUse" x1="-50.911" y1="173.266" x2="938.57" y2="122.086" gradientTransform="matrix(1 0 0 -1 0 342)"><stop offset="0" stop-color="#2cb0f4"></stop><stop offset="1" stop-color="#5769ff"></stop></linearGradient><path d="M531.8 191.1l-12.8.8c-.2-7.4-3.1-11-8.6-11-6.4 0-9.6 5.7-9.6 17 0 6.6.9 11 2.6 13.3 1.7 2.3 4.4 3.6 7.3 3.5 5 0 8.1-3.3 9.3-9.9l11.9.7c-.8 6.2-3.1 11-7 14.2-4 3.3-9.1 5.1-14.3 4.9-6.9 0-12.5-2.4-16.9-7.2-4.3-4.8-6.5-11.4-6.5-19.8 0-7.9 2.1-14.3 6.3-19.3 4.2-5 9.9-7.5 17.2-7.5 12.5.1 19.5 6.8 21.1 20.3z" fill="url(#letter_6)"></path><linearGradient id="letter_7" gradientUnits="userSpaceOnUse" x1="-50.761" y1="176.198" x2="938.721" y2="125.018" gradientTransform="matrix(1 0 0 -1 0 342)"><stop offset="0" stop-color="#2cb0f4"></stop><stop offset="1" stop-color="#5769ff"></stop></linearGradient><path d="M587 171.6v52.2h-12v-21.5h-16.2v21.5h-12v-52.2h12V192H575v-20.3h12z" fill="url(#letter_7)"></path><linearGradient id="letter_8" gradientUnits="userSpaceOnUse" x1="-50.612" y1="179.13" x2="938.879" y2="127.949" gradientTransform="matrix(1 0 0 -1 0 342)"><stop offset="0" stop-color="#2cb0f4"></stop><stop offset="1" stop-color="#5769ff"></stop></linearGradient><path d="M642.6 181.6h-24.8v10.7h19.5v9.8h-19.5v11.4h24.7v10.3h-37.2v-52.3h37.2v10.1z" fill="url(#letter_8)"></path><linearGradient id="letter_9" gradientUnits="userSpaceOnUse" x1="-50.442" y1="182.353" x2="939.04" y2="131.172" gradientTransform="matrix(1 0 0 -1 0 342)"><stop offset="0" stop-color="#2cb0f4"></stop><stop offset="1" stop-color="#5769ff"></stop></linearGradient><path d="M680.9 223.9L668 181.3v42.6h-10.2v-52.2h19l9.1 31.2 9.6-31.2h19.1v52.2h-12.3v-42.5L689.2 224h-8.3z" fill="url(#letter_9)"></path><linearGradient id="letter_10" gradientUnits="userSpaceOnUse" x1="-50.291" y1="185.314" x2="939.19" y2="134.133" gradientTransform="matrix(1 0 0 -1 0 342)"><stop offset="0" stop-color="#2cb0f4"></stop><stop offset="1" stop-color="#5769ff"></stop></linearGradient><path d="M758.6 171.6l16.3 52.2h-13.2l-3.2-10.7h-16.9l-3.2 10.7h-10.7l16.6-52.2h14.3zm-13.9 31.8h11.1l-5.5-18.3-5.6 18.3z" fill="url(#letter_10)"></path><linearGradient id="letter_11" gradientUnits="userSpaceOnUse" x1="-50.304" y1="185.12" x2="939.187" y2="133.94" gradientTransform="matrix(1 0 0 -1 0 342)"><stop offset="0" stop-color="#2cb0f4"></stop><stop offset="1" stop-color="#5769ff"></stop></linearGradient><path d="M290 57c-25.5 0-46.3 20.6-46.3 46.2 0 4.9.8 9.7 2.3 14.4l-54 24.6c-4.5-8.3-11.3-15.1-19.7-19.4L182.7 92c25.1 4.1 48.7-12.9 52.8-38s-13-48.9-38-53-48.8 13-52.9 38c-3.4 21.1 8.1 41.7 27.8 49.9l-10.1 29.9c-3.6-.9-7.4-1.4-11.1-1.4-13.3 0-26 5.8-34.7 15.9l-20-14.5c13.9-21.6 7.7-50.3-13.9-64.3s-50.3-7.7-64.3 13.9-7.7 50.3 13.9 64.3c18.1 11.7 41.9 9.4 57.5-5.6l20.6 15c-6.7 12.6-7.2 27.5-1.3 40.5l-22.8 12c-14.6-21.5-43.8-27.2-65.4-12.6s-27.2 43.8-12.6 65.4S52 274.6 73.5 260c18.1-12.3 25.4-35.5 17.5-55.9l23.3-12.3c11.4 15.1 31 21.7 49.2 16.5l22.1 46c-21.6 13.3-28.2 41.6-14.9 63.2 13.3 21.6 41.6 28.2 63.2 14.9 21.6-13.3 28.2-41.6 14.9-63.2-11.2-18.1-33.3-26.1-53.5-19.4l-21.8-45.5c18.6-10.2 27.8-31.7 22.3-52.2l54.6-24.8c13.3 21.8 41.7 28.8 63.5 15.6 21.8-13.3 28.8-41.7 15.6-63.5-8.3-14-23.3-22.4-39.5-22.4zM154.7 46.3c0-19.7 16-35.6 35.6-35.6 19.7 0 35.6 16 35.6 35.6 0 19.7-15.9 35.6-35.6 35.6-19.6 0-35.5-16-35.6-35.6zm-97.1 83.2c-19.7 0-35.6-15.9-35.6-35.6s15.9-35.6 35.6-35.6 35.6 15.9 35.6 35.6c0 19.6-16 35.5-35.6 35.6zm-9.7 126.8c-19.7 0-35.6-16-35.6-35.6s16-35.6 35.6-35.6 35.6 16 35.6 35.6c0 19.7-15.9 35.6-35.6 35.6zm197.6 37.4c0 19.7-15.9 35.6-35.6 35.6-19.7 0-35.6-15.9-35.6-35.6 0-19.7 15.9-35.6 35.6-35.6 19.6-.1 35.5 15.6 35.6 35.2v.4zm-94.3-94.3c-19.7 0-35.6-15.9-35.6-35.6s15.9-35.6 35.6-35.6 35.6 15.9 35.6 35.6c-.1 19.6-16 35.5-35.6 35.6zM290 138.8c-19.7 0-35.6-15.9-35.6-35.6 0-19.7 15.9-35.6 35.6-35.6 19.7 0 35.6 15.9 35.6 35.6 0 19.7-15.9 35.6-35.6 35.6z" fill="url(#letter_11)"></path></svg>
		</div>

    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="vendor/tableau.extensions.1.latest.min.js"></script>
    <script src="vendor/prism.min.js"></script>
    <script src="vendor/prism-python.min.js"></script>
    <script src="vendor/prism-r.min.js"></script>
    <script src="vendor/prism-matlab.min.js"></script>
    <script src="vendor/prism-haskell.min.js"></script>
  </body>
</html>
