<template>
<div id="app">
  <!--

      As sandboxing requires pre-compilation of the Vue templates,
      and vue does not provide any standalone compiler, as a temporary sollution
      the template is compiled in the browser by 'Vue.compile()' and hardcoded
      in 'app.html.js'.

      TODO: create a proper build system for this

      Since 'Vue.compile' is unavailable in the NPM version of Vue, single-file vue components
      should be a good sollution


  -->

    <!-- Parameter found -->
    <div v-if="!parameterFound" class="error">
      <i class="fa fa-times"></i> Parameter <em>"{{ parameterName }}"</em> not found
    </div>

    <div id="status-bar">
      <a @click="readFromTableau" class="btn danger" id="refresh-btn">
        <i class="fa fa-sync"></i> Reload
      </a>

      <a @click="saveToTableau" id="save-btn" class="btn safe" :class="{'btn-green': haveChanges}">
        <i class="fa fa-upload"></i> Execute
      </a>

    </div>

    <div id="editor">
      <prism-editor v-model="code" :language="language" @input="onCodeChanged($event)" @keydown="onKeyDown($event)" @keyup="onKeyUp($event)"></prism-editor>
    </div>

    <!-- Loader -->
    <div class="loading" v-if="isLoading">
      <i class="fa fa-cog fa-spin"></i>
      Loading...
    </div>
</div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import App from './index.js'
export default App;

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}


.loading { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(255, 255, 255, 0.75); text-align: center; color: #999; font-weight: bold; font-size: 2.5em; padding: 25%; }

#status-bar { position: fixed; right: 1em; bottom: 1em; }

.error { position: fixed; top:1em; left: 1em; right: 1em; color: #f44; background: rgb(253, 205, 205); padding: 0.5em; text-align: center; }

#parameter-found { font-size: 12px; }
#parameter-found .ok { color: #008400; text-shadow: 0px 0px 3px #7bff6d; }
#parameter-found .error { color: #f44; }
#parameter-found .ok,
#parameter-found .error { display: inline-block; padding: 0em 1em; }




#editor { }
#editor pre { background: white;  }
#editor pre:focus { background: white; outline: none; }

#editor { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-tap-highlight-color: transparent;  }

#parameter-select { font-size: 17px; }

#refresh-btn {  margin-right: 1em; }


</style>
