<template>
  <div id="Configure">
    <!--

      Configuration dialog for the extension.

      Functions:
      - select which parameter to edit
      - select the programming language


    -->

    <div class="form-rows">

    <!-- Selecting the parameter -->
    <div class="form-row">
      <label for='parameter-select'>Parameter to edit</label>
      <div class="selectWrap">
        <select id="parameter-select" v-bind:value="parameterName" @input="setParameterName($event.target.value)">
          <option v-for="name in parameters" :key="name" :value="name">{{ name }}</option>
        </select>
      </div>
      <p class="hint">
        If you cannot see the parameter you wish to edit here ensure that it is set to have "string" type.
      </p>
    </div>

    <!-- Select the programming language -->
    <div class="form-row">
      <label for='programming-language'>Programming Language</label>
      <div class="selectWrap">
        <select id='programming-language' v-bind:value="language" @input="setLanguage($event.target.value)">
          <option v-for="{name, label} in languages" :key="name" :value="name">{{ label }}</option>
        </select>
      </div>
      <p class="hint">
        The editor will use this language to highlight your code.
      </p>
    </div>

    </div>

    <!-- Save & Close -->
    <div class="form-row form-submit-row">
      <button class="btn btn-save btn-green" @click="closeWindow()">Save &amp; Close</button>
    </div>

  </div>
</template>

<script>

import Configure from './configure.js'
export default Configure;
</script>

<style>
#Configure {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

label, select { display:block; }

label { font-size: 14px; }

.form-rows { display: flex; flex-direction: column; }

.form-row { 
  padding: 1em; color: #4f4f4f; 
  display: inline-flex;
  flex-direction: column;
}

.form-submit-row {
  display: block;
  text-align: right;
}

.form-row label { 
  display: inline-block;
  line-height: 21px;
  margin-right: auto;
}

.selectWrap {
  border: 1px solid transparent;
  border-radius: 1px;
  box-sizing: border-box;
  display: inline-block;
  min-height: 24px;
  position: relative;

  border-color: #cbcbcb;
}

select {
  background: transparent no-repeat right center;
  border: none;
  border-radius: 0;
  color: #333;
  cursor: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  outline: none;
  padding-left: 7px;
  width: 100%;

  font-size: 17px;
  /*
    While this works fine in the browser, does not work in Tableau Desktop

    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M5.8%207.3l3.5%204.6c.1.1.2.1.3%200l3.6-4.6c.1-.2%200-.3-.2-.3H6c-.2%200-.3.1-.2.3z%22%2F%3E%3C%2Fsvg%3E);
  */
  padding-right: 25px;
}

.hint {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  color: #333;
  cursor: default;
  display: inline-flex;
  font-size: 12px;
  line-height: 20px;
  position: relative;
  user-select: none;

  margin-left: 6px;
  overflow: hidden;
  text-overflow: ellipsis;

}
</style>
